*{  
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@font-face {
    font-family: gtsuper ;
    src: url(../assets/fonts/GT-Super-Display-Light-Italic-Trial.otf);
}


body{
	color:rgb(0, 0, 0);
	font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 1.25rem;
    background-image: url(../assets/fondositio.jpeg);
    background-size:cover;
    background-repeat: no-repeat;
}


@media (max-width: 768px) {
    body {font-size: 1rem;
    }
}


@media (max-width: 480px) {
    body {font-size: .875rem;
    }
}

/* ---------------------------- */

.header {
    background-color: #d0ebff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.logo {
    border-radius: 100%;
    background-image: url(../assets/logo.jpeg);
    width: 50px;
    height: 50px;
}


.search-bar {
    border-radius: 20px;
    border: none;
    padding-left: 10px;
}


.nav-menu {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
}


.nav-menu li a {
    padding-right: 20px;
    color: rgb(0, 0, 0);
    text-decoration:none;
    transition: text-decoration-color 0.5s ease-in-out;
}

.nav-menu li a:hover{
    text-decoration: underline;
    text-decoration-color: #d0ebff;
}

.portada-image {
    height: 400px;
    background-image: url("../assets/article2.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.7;
}

@media (max-width: 768px) {
    .portada-image {height: 300px;
    }
}


@media (max-width: 480px) {
    .portada-image {height: 200px;
    }
}



.portada-image p {

    color: rgb(255, 255, 255);
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    font-family: gtsuper;

}

.text p::after{
    content: "🌙✨";
}

.text p::first-letter{
    font-size: 2rem;
    font-family:gtsuper ;
}

.articulo-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;

}

.image1-articulo{
    width: 16rem;
}

.image1-articulo img {
    width: 16rem;
    height: 16rem;
    margin-bottom: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
}



.image1-articulo img:hover {
    transform: scale(1.1);
    opacity: 0.7;
}

.banner {
    background-image: url(../assets/banner.png);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
}

.div-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
}

.articulo-2 img {
    width: 320px;
    height: auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
}


.articulo-2 img:hover {
    transform: scale(1.1);
    opacity: 0.9;
}

.footer-1{
    background-color: #d0ebff;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.list-footer{
    list-style-type: none;
}

.list-footer li::before{
    content: "🌙";
    padding-right: 8px;
}

.list-footer li a{
    text-decoration: none;
    color: black;
    transition: text-decoration-color 0.5s ease-in-out;
}

.list-footer li a:hover{
    text-decoration: underline;
    text-decoration-color: #d0ebff;
}

/* ---------------------------------- */

.eventos-main {
    background-image: url(../assets/eventos-main.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    height: 400px;
}

@media (max-width: 768px) {
    .eventos-main {height: 300px;
    }
}


@media (max-width: 480px) {
    .eventos-main {height: 200px;
    }
}

.eventos-texto {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* ------------------- */

.eventos-galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 128px; 
    row-gap: 50px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 20rem) {
    .eventos-galeria {
        grid-template-columns: repeat(1, 1fr);
    }
}
    
@media screen and (min-width: 64rem) {
    .eventos-galeria {
        grid-template-columns: repeat(2, 1fr);
    }
}



.eventos-item {
    position: relative;
}

.eventos-item img {
    width: 100%; 
    height: auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
}


.eventos-item img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.eventos-item span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
}



/* --------- */

.Galeria-main{
    background-image: url(../assets/portada-galeria.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    max-width: 100%;
    height: 400px;
}

@media (max-width: 768px) {
    .Galeria-main {height: 300px;
    }
}


@media (max-width: 480px) {
    .Galeria-main {height: 200px;
    }
}

.Galeria-contenedor {
    gap: 10px;
   /*   max-width: 100%;
   margin-left: auto;
    margin-right: auto; */
}

.Galeria-contenedor1 {
    gap: 10px;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.Galeria-subtitulo{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

.Galeria-subtitulo2{
    display: flex;
    justify-content: center;
    
}
.Galeria-subtitulo2 h3{
    width: 75.875rem; 
}

.Galeria-navegacion {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Galeria-navegacion a {
    width: 200px;
    color: black;
    text-decoration: none;
    border: 1px solid #000000;
    
}


.Galeria-navegacion a:hover {
    background-color: #9ee4f8; 
    transition: background-color 0.7s; 
}

.Galeria-contenido {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.Galeria-contenido img {
    width: 37.9375rem; 
    height: 19.6875rem; 
    transition: transform 0.5s ease, opacity 0.5s ease;
}


@media (max-width: 768px) {
    .Galeria-contenido img {width: 31.25rem;height: auto;
    }
}
@media (max-width: 480px) {
    .Galeria-contenido img {width: 20rem;height: auto;
    }
}


.Galeria-contenido img:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.Galeria-texto-contenido {
    width: 37.9375rem; 
    height: 19.6875rem; 
    background-color: #e7e7e7e3;
}



@media (max-width: 768px) {
    .Galeria-texto-contenido {width: 31.25rem;height: auto;
    }
}
@media (max-width: 480px) {
    .Galeria-texto-contenido {width: 20rem;height: auto;
    }
}
