@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap";
@font-face {
  font-family: gtsuper;
  src: url(../assets/fonts/GT-Super-Display-Light-Italic-Trial.otf); }

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  color: black;
  font-family: "Lato" sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.25rem;
  background-image: url(../assets/fondositio.avif);
  background-size: cover;
  background-repeat: no-repeat; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.header {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  background-color: rgba(208, 235, 255, 0.3);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  animation: slideInLeft 1s ease-in-out; }

.logo {
  border-radius: 100%;
  background-image: url(../assets/logo.avif);
  width: 50px;
  height: 50px; }

.nav-menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  column-gap: 100px; }
  .nav-menu li a {
    padding-right: 20px;
    color: black;
    text-decoration: none;
    transition: text-decoration-color 0.5s ease-in-out; }
    .nav-menu li a:hover {
      text-decoration: underline;
      text-decoration-color: rgba(208, 235, 255, 0.3);
      animation: rotateIn 0.5s ease-in-out; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.portada-image {
  height: 400px;
  background-image: url("../assets/article2.avif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  animation: fadeIn 2s ease-in-out; }
  .portada-image p {
    color: white;
    font-size: 3rem;
    justify-content: center;
    text-align: center;
    font-family: gtsuper; }

.text p::after {
  content: "🌙✨"; }

.text p::first-letter {
  font-size: 2rem;
  font-family: gtsuper; }

.articulo-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px; }

.image1-articulo {
  width: 14rem; }
  .image1-articulo img {
    width: 14rem;
    height: 14rem;
    margin-bottom: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease; }
    .image1-articulo img:hover {
      animation: pulse 0.5s ease-in-out; }

.banner {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/banner.avif);
  height: 200px;
  margin-top: 2rem; }

.div-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px; }

.room__image {
  width: 100%;
  display: block;
  animation: slideIn 1s ease-in-out; }

.room__details {
  padding: 20px;
  background-color: rgba(209, 235, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1.5s ease-in-out; }

.room__title {
  font-size: 24px;
  margin-bottom: 10px; }

.room__info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px; }
  .room__info span {
    font-size: 16px; }

.room__guests {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem; }

.room__size {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem; }

.room__button {
  margin-bottom: 20px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer; }
  .room__button:hover {
    background-color: black;
    transform: scale(1.1);
    opacity: 0.9; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.eventos-main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/eventos-main.avif);
  height: 400px;
  animation: fadeIn 2s ease-in-out; }
  .eventos-main h1 {
    font-family: gtsuper; }

.eventos-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.eventos-galeria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 128px;
  row-gap: 50px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; }

.eventos-item {
  position: relative; }
  .eventos-item img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease, opacity 0.5s ease; }
    .eventos-item img:hover {
      animation: pulse 0.5s ease-in-out; }
  .eventos-item span {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.Galeria-main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/portada-galeria.avif);
  height: 400px;
  animation: fadeIn 2s ease-in-out; }
  .Galeria-main h1 {
    font-family: gtsuper; }

.Galeria-contenedor {
  gap: 10px; }

.Galeria-contenedor1 {
  gap: 10px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto; }

.Galeria-subtitulo {
  margin-left: auto;
  margin-right: auto;
  width: 300px; }

.Galeria-subtitulo2 {
  display: flex;
  justify-content: center; }
  .Galeria-subtitulo2 h3 {
    width: 75.875rem; }

.Galeria-navegacion {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }
  .Galeria-navegacion a {
    width: 200px;
    color: black;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
    .Galeria-navegacion a:hover {
      background-color: #9ee4f8;
      transition: background-color 0.7s; }

.Galeria-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden; }
  .Galeria-contenido img {
    width: 37.9375rem;
    height: 19.6875rem;
    transition: transform 0.5s ease, opacity 0.5s ease; }
    .Galeria-contenido img:hover {
      animation: pulse 0.5s ease-in-out; }

.Galeria-texto-contenido {
  padding: 1rem;
  width: 37.9375rem;
  height: 19.6875rem;
  background-color: #e7e7e7e3; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.portada-habitaciones {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/portada-habitaciones.avif);
  height: 400px;
  animation: fadeIn 2s ease-in-out; }
  .portada-habitaciones h1 {
    font-family: gtsuper; }

.body-1-habitaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem; }

.body-2-habitaciones {
  display: flex;
  justify-content: center;
  align-items: center; }

.galeria {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
  max-width: 80%;
  gap: 20px; }

.foto {
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 4px;
  margin: auto;
  text-align: center; }
  .foto img {
    width: 100%;
    height: auto;
    display: block; }
  .foto p {
    text-align: center;
    margin-top: 8px; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.portada-contacto {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../assets/portada-contacto.avif);
  height: 400px;
  animation: fadeIn 2s ease-in-out; }
  .portada-contacto h1 {
    font-family: gtsuper; }

.map-container {
  position: relative;
  text-align: center; }
  .map-container iframe {
    width: 80%;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.map-header {
  padding: 10px; }

.form-container {
  max-width: 80%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }
  .form-container h3 {
    color: #333;
    text-align: center; }

.input-group {
  margin-bottom: 15px; }
  .input-group label {
    display: block;
    margin-bottom: 5px; }
  .input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px; }
  .input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 100px; }

.button-container {
  text-align: center; }

.boton {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.7s, transform 0.5s ease, opacity 0.5s ease;
  background-color: black;
  color: white; }
  .boton:hover {
    background-color: black;
    transform: scale(1.1);
    opacity: 0.9; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes scaleUp {
  from {
    transform: scale(0.9);
    opacity: 0; }
  to {
    transform: scale(1);
    opacity: 1; } }

@keyframes rotateIn {
  from {
    transform: rotate(-15deg);
    opacity: 0; }
  to {
    transform: rotate(0);
    opacity: 1; } }

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

.footer-1 {
  background-color: rgba(209, 235, 255, 0.3);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  animation: fadeIn 1s ease-in-out; }

.list-footer {
  list-style-type: none; }
  .list-footer li::before {
    content: "🌙";
    padding-right: 8px; }
  .list-footer li a {
    text-decoration: none;
    color: black;
    transition: text-decoration-color 0.5s ease-in-out; }
    .list-footer li a:hover {
      text-decoration: underline;
      text-decoration-color: rgba(208, 235, 255, 0.3); }

@media (max-width: 991px) {
  .room {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto; } }

@media (max-width: 768px) {
  body {
    font-size: 1rem; }
  .portada-image {
    height: 300px; }
  .eventos-main {
    height: 300px; }
  .Galeria-main {
    height: 300px; }
  .Galeria-contenido img {
    width: 31.25rem;
    height: auto; }
  .Galeria-texto-contenido {
    width: 31.25rem;
    height: auto; }
  .portada-habitaciones {
    height: 300px; }
  .portada-contacto {
    height: 300px; } }

@media (max-width: 550px) {
  .footer-1 {
    flex-direction: column;
    align-content: center; } }

@media (max-width: 480px) {
  body {
    font-size: .875rem; }
  .portada-image {
    height: 150px; }
  .eventos-main {
    height: 150px; }
  .Galeria-main {
    height: 150px; }
  .Galeria-contenido img {
    width: 20rem;
    height: auto; }
  .Galeria-texto-contenido {
    width: 20rem;
    height: auto; }
  .portada-habitaciones {
    height: 150px; }
  .portada-contacto {
    height: 150px; } }

@media screen and (min-width: 20rem) {
  .eventos-galeria {
    grid-template-columns: repeat(1, 1fr); }
  .galeria {
    grid-template-columns: repeat(1, 1fr); } }

@media screen and (min-width: 64rem) {
  .eventos-galeria {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 48rem) {
  .galeria {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 90rem) {
  .galeria {
    grid-template-columns: repeat(3, 1fr); } }
