$color_1: rgb(0, 0, 0);
$color_2: rgb(255, 255, 255);
$color_3: black;
$color_4: white;
$color_5: #333;
$font-family_1: "Lato", sans-serif;
$font-family_2: gtsuper;
$background-color_1: rgba(208, 235, 255, 0.3);
$background-color_2: rgba(209, 235, 255,0.3);
$background-color_3: #9ee4f8;
$background-color_4: #e7e7e7e3;
$background-color_5: #5cb85c;
$background-color_6: #4cae4c;

@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap";
@font-face {
	font-family: gtsuper;
	src: url(../assets/fonts/GT-Super-Display-Light-Italic-Trial.otf);
}

* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	color: $color_1;
	font-family: $font-family_1;
	font-weight: 300;
	font-style: italic;
	font-size: 1.25rem;
	background-image: url(../assets/fondositio.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}
.header {
	background-color: $background-color_1;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}
.logo {
	border-radius: 100%;
	background-image: url(../assets/logo.jpeg);
	width: 50px;
	height: 50px;
}
.search-bar {
	border-radius: 20px;
	border: none;
	padding-left: 10px;
}
.nav-menu {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	column-gap: 100px;
	li {
		a {
			padding-right: 20px;
			color: $color_1;
			text-decoration: none;
			transition: text-decoration-color 0.5s ease-in-out;
			&:hover {
				text-decoration: underline;
				text-decoration-color: rgba(208, 235, 255,0.3);
			}
		}
	}
}
.portada-image {
	height: 400px;
	background-image: url("../assets/article2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	opacity: 0.7;
	p {
		color: $color_2;
		font-size: 3rem;
		justify-content: center;
		text-align: center;
		font-family: $font-family_2;
	}
}
.text {
	p {
		&::after {
			content: "🌙✨";
		}
		&::first-letter {
			font-size: 2rem;
			font-family: $font-family_2;
		}
	}
}
.articulo-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 100px;
}
.image1-articulo {
	width: 16rem;
	img {
		width: 16rem;
		height: 16rem;
		margin-bottom: 10px;
		transition: transform 0.5s ease, opacity 0.5s ease;
		&:hover {
			transform: scale(1.1);
			opacity: 0.7;
		}
	}
}
.banner {
	background-image: url(../assets/banner.png);
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 2rem;
}
.div-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 100px;
}
.articulo-2 {
	img {
		width: 320px;
		height: auto;
		transition: transform 0.5s ease, opacity 0.5s ease;
		&:hover {
			transform: scale(1.1);
			opacity: 0.9;
		}
	}
}
.footer-1 {
	background-color: $background-color_2;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}
.list-footer {
	list-style-type: none;
	li {
		&::before {
			content: "🌙";
			padding-right: 8px;
		}
		a {
			text-decoration: none;
			color: $color_3;
			transition: text-decoration-color 0.5s ease-in-out;
			&:hover {
				text-decoration: underline;
				text-decoration-color: rgba(208, 235, 255,0.3);
			}
		}
	}
}
.eventos-main {
	background-image: url(../assets/eventos-main.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 400px;
	h1 {
		font-family: $font-family_2;
	}
}
.eventos-texto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.eventos-galeria {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 128px;
	row-gap: 50px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}
.eventos-item {
	position: relative;
	img {
		width: 100%;
		height: auto;
		transition: transform 0.5s ease, opacity 0.5s ease;
		&:hover {
			transform: scale(1.05);
			opacity: 0.9;
		}
	}
	span {
		position: absolute;
		bottom: 10px;
		left: 10px;
		color: $color_4;
		font-weight: bold;
	}
}
.Galeria-main {
	background-image: url(../assets/portada-galeria.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 400px;
	h1 {
		font-family: $font-family_2;
	}
}
.Galeria-contenedor {
	gap: 10px;
}
.Galeria-contenedor1 {
	gap: 10px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.Galeria-subtitulo {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}
.Galeria-subtitulo2 {
	display: flex;
	justify-content: center;
	h3 {
		width: 75.875rem;
	}
}
.Galeria-navegacion {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	a {
		width: 200px;
		color: $color_3;
		text-decoration: none;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
		&:hover {
			background-color: $background-color_3;
			transition: background-color 0.7s;
		}
	}
}
.Galeria-contenido {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	overflow: hidden;
	img {
		width: 37.9375rem;
		height: 19.6875rem;
		transition: transform 0.5s ease, opacity 0.5s ease;
		&:hover {
			transform: scale(1.005);
			opacity: 0.9;
		}
	}
}
.Galeria-texto-contenido {
	width: 37.9375rem;
	height: 19.6875rem;
	background-color: $background-color_4;
}
.portada-habitaciones {
	background-image: url(../assets/portada-habitaciones.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	h1 {
		font-family: $font-family_2;
	}
}
.body-1-habitaciones {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.body-2-habitaciones {
	display: flex;
	justify-content: center;
	align-items: center;
}
.galeria {
	display: grid;
	grid-auto-rows: auto;
	grid-template-columns: repeat(3,1fr);
	max-width: 80%;
	gap: 20px;
}
.foto {
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	padding: 4px;
	margin: auto;
	img {
		width: 100%;
		height: auto;
		display: block;
	}
	p {
		text-align: center;
		margin-top: 8px;
	}
}
.portada-contacto {
	background-image: url(../assets/portada-contacto.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	h1 {
		font-family: $font-family_2;
	}
}
.map-container {
	position: relative;
	text-align: center;
	iframe {
		width: 80%;
		height: 450px;
		border-radius: 8px;
		box-shadow: 0 0 10px rgba(0,0,0,0.3);
	}
}
.map-header {
	padding: 10px;
}
.form-container {
	max-width: 80%;
	margin: 50px auto;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0,0,0,0.3);
	h2 {
		color: $color_5;
		text-align: center;
	}
}
.input-group {
	margin-bottom: 15px;
	label {
		display: block;
		margin-bottom: 5px;
	}
	input {
		width: 100%;
		padding: 10px;
		border: 1px solid #ddd;
		border-radius: 4px;
	}
	textarea {
		width: 100%;
		padding: 10px;
		border: 1px solid #ddd;
		border-radius: 4px;
		height: 100px;
	}
}
.button-container {
	text-align: center;
}
button {
	background-color: $background-color_5;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	&:hover {
		background-color: $background-color_6;
	}
}
@media (max-width: 768px) {
	body {
		font-size: 1rem;
	}
	.portada-image {
		height: 300px;
	}
	.eventos-main {
		height: 300px;
	}
	.Galeria-main {
		height: 300px;
	}
	.Galeria-contenido {
		img {
			width: 31.25rem;
			height: auto;
		}
	}
	.Galeria-texto-contenido {
		width: 31.25rem;
		height: auto;
	}
	.portada-habitaciones {
		height: 300px;
	}
	.portada-contacto {
		height: 300px;
	}
}
@media (max-width: 480px) {
	body {
		font-size: .875rem;
	}
	.portada-image {
		height: 150px;
	}
	.eventos-main {
		height: 150px;
	}
	.Galeria-main {
		height: 150px;
	}
	.Galeria-contenido {
		img {
			width: 20rem;
			height: auto;
		}
	}
	.Galeria-texto-contenido {
		width: 20rem;
		height: auto;
	}
	.portada-habitaciones {
		height: 150px;
	}
	.portada-contacto {
		height: 150px;
	}
}
@media (max-width: 550px) {
	.footer-1 {
		flex-direction: column;
		align-content: center;
	}
}
@media screen and (min-width: 20rem) {
	.eventos-galeria {
		grid-template-columns: repeat(1, 1fr);
	}
	.galeria {
		grid-template-columns: repeat(1, 1fr);
	}
}
@media screen and (min-width: 64rem) {
	.eventos-galeria {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (min-width: 48rem) {
	.galeria {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media screen and (min-width: 90rem) {
	.galeria {
		grid-template-columns: repeat(3, 1fr);
	}
}
