@import '../utilities/mixin';

.footer-1 {
	background-color: map-get($colores, background-color_2);
	@include border-radius-8;
	@include box-shadow;
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 20px;
}
.list-footer {
	list-style-type: none;
	li {
		&::before {
			content: "🌙";
			padding-right: 8px;
		}
		a {
			text-decoration: none;
			color: map-get($colores, color_3);
			@include hover-transform;
		}
	}
}