@import "../utilities/mixin";
@import "../utilities/keyframes";

.header {
	@include box-shadow;
	@include border-radius-8;
	background-color: map-get($colores, background-color_1);
	border-radius: 8px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	animation: slideInLeft 1s ease-in-out;
  }
.logo {
	border-radius: 100%;
	background-image: url(../assets/logo.avif);
	width: 50px;
	height: 50px;
}
.nav-menu {
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	column-gap: 100px;
	li {
		a {
			padding-right: 20px;
			color: map-get($colores, color_1);
			text-decoration: none;
			transition: text-decoration-color 0.5s ease-in-out;
			&:hover {
				text-decoration: underline;
				text-decoration-color: map-get($colores, background-color_1);
				animation: rotateIn 0.5s ease-in-out;
			}
		}
	}
}