@import "../utilities/mixin";
@import "../utilities/keyframes";


.portada-image {
	height: 400px;
	background-image: url("../assets/article2.avif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	//opacity: 0.7;
	animation: fadeIn 2s ease-in-out;
	p {
		color: map-get($colores, color_2);
		font-size: 3rem;
		justify-content: center;
		text-align: center;
		font-family: map-get($fuente, font-family_2);
	}
}
.text {
	p {
		&::after {
			content: "🌙✨";
		}
		&::first-letter {
			font-size: 2rem;
			font-family: map-get($fuente, font-family_2);
		}
	}
}
.articulo-1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 100px;
}
.image1-articulo {
	width: 14rem;
	img {
		width: 14rem;
		height: 14rem;
		margin-bottom: 10px;
		@include hover-transform;
	}
}
.banner {
	@include box-shadow;
	@include background-image-style;
	background-image: url(../assets/banner.avif);
	height: 200px;
	margin-top: 2rem;
}
.div-center {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 100px;
}
.room {
	&__image {
	width: 100%;
	display: block;
	animation: slideIn 1s ease-in-out;
	}

	&__details {
	padding: 20px;
	background-color: map-get($colores, background-color_2);
	display: flex;
	flex-direction: column;
	align-items: center;
	animation: fadeIn 1.5s ease-in-out;
	}
	&__title {
		font-size: 24px;
		margin-bottom: 10px;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		span {
		font-size: 16px;
		}
	}
	&__guests{
		display: flex;
		flex-wrap: wrap;
		padding: 0.5rem;
	}

	&__size{
		display: flex;
		flex-wrap: wrap;
		padding: 0.5rem;
	}

	&__button {
		margin-bottom: 20px;
		padding: 10px 20px;
		background-color: map-get($colores, color_1);
		color: map-get($colores, color_2);
		border-radius: 4px;
		border: none;
		cursor: pointer;
	
	&:hover {
		background-color: darken(map-get($colores, color_1), 10%);
		transform: scale(1.1);
		opacity: 0.9;
		}
	
	}
	}