@import "../utilities/mixin";
@import "../utilities/keyframes";

.portada-contacto {
	@include background-image-style;
	background-image: url(../assets/portada-contacto.png);
	height: 400px;
	animation: fadeIn 2s ease-in-out;
	h1 {
		@include font-family-h1;
	}
}
.map-container {
	position: relative;
	text-align: center;
	iframe {
		width: 80%;
		height: 450px;
		border-radius: 8px;
		@include box-shadow;
	}
}
.map-header {
	padding: 10px;
}
.form-container {
	max-width: 80%;
	margin: 50px auto;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px map-get($colores, background-color_7);
	h2 {
		color: map-get($colores, color_5);
		text-align: center;
	}
}
.input-group {
	margin-bottom: 15px;
	label {
		display: block;
		margin-bottom: 5px;
	}
	input {
		width: 100%;
		padding: 10px;
		border: 1px solid #ddd;
		border-radius: 4px;
	}
	textarea {
		width: 100%;
		padding: 10px;
		border: 1px solid #ddd;
		border-radius: 4px;
		height: 100px;
	}
}
.button-container {
	text-align: center;
}
.boton {
	@include common-button-style;
	background-color: map-get($colores, color_1);
	color: map-get($colores, color_2);
}