$colores: (
color_1: rgb(0, 0, 0),
color_2: rgb(255, 255, 255),
color_3: black,
color_4: white,
color_5: #333,
color_6: rgb(255, 252, 233),
background-color_1: rgba(208, 235, 255, 0.3),
background-color_2: rgba(209, 235, 255,0.3),
background-color_3: #9ee4f8,
background-color_4: #e7e7e7e3,
background-color_5: #5cb85c,
background-color_6: #4cae4c,
background-color_7: rgba(0,0,0,0.3),
)