$fuente: (
font-family_1: "Lato" sans-serif,
font-family_2: gtsuper,
);

@import "https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap";
@font-face {
	font-family: gtsuper;
	src: url(../assets/fonts/GT-Super-Display-Light-Italic-Trial.otf);
}